<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <img src="~assets/images/hotel_elbrus_plaza_gorizont.png" class="logo--hero" alt="logo">
          <h1 class="text-upper">Отель «Эльбрус Плаза»</h1>
          <p class="tm-white">Новый гостиничный комплекс «ELBRUS PLAZA» построен в 2018 году и находится на живописной Баксанской долине, в окружении соснового бора национального парка «Приэльбрусье». Это идеальное место, с которого начнется ваше знакомство со склонами Эльбруса!
          </p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>
