<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInLeft" data-wow-delay="0.6s">
        <tiny-slider :controlsText="['<', '>']" :mouse-drag="true" :autoplay="true" :lazyload="true" :loop="false" items="1" gutter="20">
          <div>
            <img src="~assets/images/slider/Image1.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image2.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image3.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image4.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image5.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image6.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image7.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image8.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image9.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image10.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image11.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image12.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image13.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image14.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image15.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image16.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image17.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image18.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image19.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image20.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image21.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image22.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image23.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image24.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image25.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image26.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image27.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image28.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image29.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image30.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image31.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image32.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image33.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image34.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image35.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image36.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image37.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image38.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image39.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image40.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image41.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image42.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image43.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image44.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image45.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image46.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image47.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image48.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image49.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image50.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image51.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image52.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image53.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image54.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image55.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image56.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image57.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image58.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image59.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image60.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image61.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image62.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image63.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image64.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image65.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image66.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image67.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image68.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image69.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image70.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image71.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image72.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image73.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image74.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image75.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image76.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image77.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image78.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image79.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image80.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image81.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image82.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image83.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image84.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image85.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image86.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image87.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image88.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image89.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image90.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image91.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image92.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image93.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image94.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image95.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image96.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image97.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image98.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image99.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image100.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image101.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image102.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image103.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image104.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image105.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image106.jpg" alt="">
          </div>
          <div>
            <img src="~assets/images/slider/Image107.jpg" alt="">
          </div>
        </tiny-slider>
      </div>
    </div>
</section>
